PROJECT_NAME=JurisFlow
API_V1_STR=/api/v1
SECRET_KEY=yoursecretkeyhere
ACCESS_TOKEN_EXPIRE_MINUTES=11520 # 8 days
REDIS_URL=redis://localhost:6379/0
CHROMA_HOST=localhost
CHROMA_PORT=8000
OPENAI_API_KEY=your_openai_api_key
